<section class="section" id="about">
  <div class="container about-container">
    <h2 class="about-title">About <span class="accent-us">Us</span></h2>
    <p class="about-text">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
    <ol class="about-list">
      <li class="about-list-item expert">
        <h3>Expert, innovative teaching staff</h3>
      </li>
      <li class="about-list-item range">
        <h3>Wide range of course levels and options</h3>
      </li>
      <li class="about-list-item learning">
        <h3>Multicultural learning environment</h3>
      </li>
      <li class="about-list-item support">
        <h3>Comprehensive language support services</h3>
      </li>
      <li class="about-list-emoji">
        <picture>
          <source
            srcset="
              ./img/about/memoji@1x.webp 1x,
              ./img/about/memoji@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="./img/about/memoji@1x.png 1x, ./img/about/memoji@2x.png 2x"
            type="image/png"
          />
          <img
            class="about-memoji-img"
            src="./img/about/memoji@1x.png"
            alt="Smiling teacher emoji"
            width="255"
            height="172"
            loading="lazy"
          />
        </picture>
      </li>
    </ol>
  </div>
</section>
