<div class="mobile-menu-backdrop is-open">
  <div class="mobile-menu">
    <button class="close-btn-menu" type="button">
      <svg class="icon-close-menu" width="8" height="8">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="header-list-menu">
      <li><a class="menu-anchor" href="">About us</a></li>
      <li><a class="menu-anchor" href="">Our lessons</a></li>
      <li><a class="menu-anchor" href="">Teachers</a></li>
      <li><a class="menu-anchor" href="">Reviews</a></li>
      <li><a class="menu-anchor" href="">Contact us</a></li>
    </ul>

    <div class="social-media menu">
      <ul class="icons-list menu">
        <li class="media-icons menu">
          <a class="media-links menu" href="">
            <svg class="icon menu" width="24" height="24">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="media-icons menu">
          <a class="media-links menu" href="">
            <svg class="icon menu" width="24" height="24">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="media-icons menu">
          <a class="media-links menu" href="">
            <svg class="icon menu" width="24" height="24">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
