<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-header">
        Discover the joy of learning <span class="english">English</span> with
        us!
      </h1>
      <a
        class="btn-wrapper"
        href="#leave-application"
        aria-label="Scroll leave application form"
      >
        <div class="application-btn">Leave an application</div>
      </a>
      <a class="hero-link" href="#footer" aria-label="Scroll to footer">
        <svg class="icon-scroll" width="20" height="20">
          <use href="./img/icons.svg#icon-scroll-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
