<section class="section">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-header">
        Discover the joy of learning <span class="english">English</span> with
        us!
      </h1>
      <button class="application-btn hero-section" type="button">
        Leave an application
      </button>
      <div class="scroll-btn">
        <a class="hero-link" href="">
          <svg class="icon-scroll" width="20" height="20">
            <use href="./img/icons.svg#icon-scroll-down"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
