<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-content">
      <h1 class="hero-header">
        Discover the joy of learning <span class="english">English</span> with
        us!
      </h1>
      <a class="btn-wrapper" href="#leave-application">
        <button class="application-btn hero-section" type="button">
          Leave an application
      </a>
      <!-- <a
        class="btn-wrapper application-btn hero-section"
        href="#leave-application"
      >
        Leave an application
      </a> -->
      <div class="scroll-btn">
        <a class="hero-link" href="#footer">
          <svg class="icon-scroll" width="20" height="20">
            <use href="./img/icons.svg#icon-scroll-down"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
