<!-- region Our teachers -->
<section class="Our teachers">
    <div class="container">
        <h2 class="section-title">Meet our teachers</h2>
        <p class="teachers-intro">Discover our team of dedicated educators, committed to guiding you on your journey to English proficiency with personalized and engaging instruction</p>
        <ul class="teachers-list">
            <li class="teachers-items">
                <picture>
                    <source
                        srcset="
                            ./img/teachers/teacher-maria@1x.webp 1x, 
                            ./img/teachers/teacher-maria@2x.webp 2x"
                        type="image/webp"
                    />
                    <source
                        srcset="
                            ./img/teachers/teacher-maria@1x.jpg 1x, 
                            ./img/teachers/teacher-maria@2x.jpg 2x"
                        type="image/jpeg"
                    />                    
                    <img
                        src="./img/teachers/teacher-maria@1x.jpg"
                        alt="Teacher Maria"
                        width="264"
                        height="264"
                    />
                </picture>
                <div class="team-desc">
                    <h3 class="title">Maria</h3>
                    <p class="description">A seasoned linguist and our primary specialist in beginner-level instruction, Maria brings warmth and patience to every class</p>
                </div>
            </li>

            <li class="teachers-items">
                <picture>
                    <source
                        srcset="
                            ./img/teachers/teacher-artem@1x.webp 1x, 
                            ./img/teachers/teacher-artem@2x.webp 2x"
                        type="image/webp"
                    />
                    <source
                        srcset="
                            ./img/teachers/teacher-artem@1x.jpg 1x, 
                            ./img/teachers/teacher-artem@2x.jpg 2x"
                        type="image/jpeg"
                    />                    
                    <img
                        src="./img/teachers/teacher-artem@1x.jpg"
                        alt="Teacher Artem"
                        width="264"
                        height="264"
                    />
                </picture>
                <div class="team-desc">
                    <h3 class="title">Artem</h3>
                    <p class="description">With his innovative teaching techniques and a focus on interactive learning, Artem excels in keeping students engaged and motivated</p>
                </div>
            </li>

            <li class="teachers-items">
                <picture>
                    <source
                        srcset="
                            ./img/teachers/teacher-ilona@1x.webp 1x, 
                            ./img/teachers/teacher-ilona@2x.webp 2x"
                        type="image/webp"
                    />
                    <source
                        srcset="
                            ./img/teachers/teacher-ilona@1x.jpg 1x, 
                            ./img/teachers/teacher-ilona@2x.jpg 2x"
                        type="image/jpeg"
                    />                    
                    <img
                        src="./img/teachers/teacher-ilona@1x.jpg"
                        alt="Teacher Ilona"
                        width="264"
                        height="264"
                    />
                </picture>
                <div class="team-desc">
                    <h3 class="title">Ilona</h3>
                    <p class="description">A specialist in advanced English, Ilona provides intensive instruction, ensuring students gain confidence in complex language tasks</p>
                </div>
            </li>

            <li class="teachers-items">
                <picture>
                    <source
                        srcset="
                            ./img/teachers/teacher-volodymyr@1x.webp 1x, 
                            ./img/teachers/teacher-volodymyr@2x.webp 2x"
                        type="image/webp"
                    />
                    <source
                        srcset="
                            ./img/teachers/teacher-volodymyr@1x.jpg 1x, 
                            ./img/teachers/teacher-volodymyr@2x.jpg 2x"
                        type="image/jpeg"
                    />                    
                    <img
                        src="./img/teachers/teacher-volodymyr@1x.jpg"
                        alt="Teacher Volodymyr"
                        width="264"
                        height="264"
                    />
                </picture>
                <div class="team-desc">
                    <h3 class="title">Volodymyr</h3>
                    <p class="description">Our expert in English for specific purposes, Volodymyr tailors his approach to meet individual career and industry-specific language needs</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- end region Our teachers -->
