.our-lessons-container {
  text-align: center;
}
.our-lessons-title {
  display: inline-block;
  margin: 0 auto 14px auto;
  padding-bottom: 2px;
  position: relative;
}

.our-lessons-title:after {
  content: '';
  background: var(--green-accent);
  display: inline-block;
  width: 120px;
  height: 13px;
  border-radius: 25px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.our-lessons-text {
  font-size: 14px;
  line-height: 1.7;
  margin: 0 auto 40px auto;
  color: var(--light-grey-text);
}
.our-lessons-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}
.our-lessons-list-item {
  width: 100%;
  padding: 40px 20px;
  border: 1px solid var(--green);
  border-radius: 16px;
}

.our-lessons-list-item:nth-child(2n) {
  background-color: var(--green);
  color: var(--white);
}

.our-lessons-list-item-title {
  margin-bottom: 16px;
}
.our-lessons-list-item-price {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 40px;
}
.our-lessons-list-item-info {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 20px;
  color: var(--light-grey-text);
}

.our-lessons-list-item:nth-child(2n) .our-lessons-list-item-info {
  color: rgba(255, 255, 255, 0.7);
}

.our-lessons-list-item-button {
  display: inline-block;
  width: 100%;
  height: 52px;
  border: 1px solid var(--green);
  background: var(--green);
  padding: 14px;
  border-radius: 12px;
  color: var(--white);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 700;
  transition: background-color var(--anim-main), border var(--anim-main);
}

.our-lessons-list-item-button:hover,
.our-lessons-list-item-button:focus {
  border: 1px solid var(--green-active);
  background: var(--green-active);
}

.our-lessons-list-item:nth-child(2n) .our-lessons-list-item-button {
  border: 1px solid rgba(255, 255, 255, 0.4);
  transition: background-color var(--anim-main), color var(--anim-main);
}

.our-lessons-list-item:nth-child(2n) .our-lessons-list-item-button:hover,
.our-lessons-list-item:nth-child(2n) .our-lessons-list-item-button:focus {
  color: var(--green);
  background-color: var(--white);
}

@media (min-width: 768px) {
  .our-lessons-list {
    gap: 32px;
    row-gap: 32px;
  }

  .our-lessons-text {
    font-size: 18px;
    line-height: 1.6;
    max-width: 665px;
    margin: 0 auto 64px auto;
  }

  .our-lessons-list-item {
    width: calc((100% - 32px) / 2);
    padding: 32px 16px;
    border-radius: 30px;
  }

  .our-lessons-list-item-price {
    margin-bottom: 32px;
  }

  .our-lessons-list-item-info {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 32px;
  }

  .our-lessons-list-item-button {
    height: 60px;
    font-size: 18px;
  }

  .our-lessons-title:after {
    width: 145px;
    height: 20px;
  }
}

@media (min-width: 1280px) {
  .our-lessons-list {
    gap: 32px;
    row-gap: 32px;
  }

  .our-lessons-list-item {
    width: calc((100% - 64px) / 3);
    padding: 32px;
  }

  .our-lessons.container {
    padding: 0 128px;
  }

  .our-lessons-list-item-price {
    margin-bottom: 16px;
  }
}
