.wrapper {
  overflow: hidden;
  padding: 40px 20px;
  border-radius: 16px;
  background: linear-gradient(80deg, var(--green) 0%, var(--green-accent) 100%);
}

.text {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  color: var(--white);
}

.text span {
  color: var(--green-accent);
}

.parent {
  position: relative;
}

.decorative-element-one,
.decorative-element-two,
.list-wrapper {
  width: 100%;
  height: 408px;
  border-radius: 16px;
}

.decorative-element-one {
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(11deg);
}

.decorative-element-two {
  position: absolute;
  top: 0;
  background-color: var(--light-green);
  transform: rotate(-9deg);
}

.list-wrapper {
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 40px 20px;
  background-color: var(--white);
}

.list-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.proposal-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 20px;
}

.item-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--green);
  border-radius: 50%;
  flex-shrink: 0;
}

.proposal-item-icon {
  fill: var(--green);
  stroke: var(--white);
}

.proposal-item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
}

.btn-link {
  display: block;
}

.image-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .wrapper {
    overflow: unset;
    padding: 64px 32px;
    border-radius: 30px;
  }

  .text {
    margin-bottom: 83px;
    font-size: 60px;
  }

  .decorative-element-one,
  .decorative-element-two,
  .list-wrapper {
    height: 500px;
    border-radius: 30px;
  }

  .decorative-element-two {
    transform: rotate(-10deg);
  }

  .list-wrapper {
    padding: 63px 32px;
  }

  .list-title {
    margin-bottom: 32px;
    font-size: 40px;
  }

  .proposal-list {
    width: 450px;
    margin-bottom: 32px;
  }

  .proposal-item-text {
    font-size: 20px;
    line-height: 1.2;
    max-width: 405px;
  }

  .image-wrapper {
    position: absolute;
    bottom: 77px;
    right: -52px;
    display: block;
  }

  .icon-wrapper {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 141px;
  }

  .decorative-element-one,
  .decorative-element-two,
  .list-wrapper {
    height: 471px;
  }

  .decorative-element-one {
    transform: rotate(8deg);
  }

  .decorative-element-two {
    transform: rotate(-8deg);
  }

  .list-wrapper {
    padding: 64px;
  }

  .list-title {
    margin-bottom: 40px;
  }

  .proposal-list {
    width: 654px;
    margin-bottom: 39px;
  }

  .proposal-item-text {
    max-width: 610px;
  }

  .image-wrapper {
    bottom: 100px;
    right: 0;
  }
}
