.testimonial-section {
  text-align: center;
}
.testimonial-title {
  text-align: center;
  margin-bottom: 16px;
}

.highlight-students {
  position: relative;
  display: inline-block;
}

.highlight-students::after {
  content: '';
  background: var(--green-accent);
  display: inline-block;
  width: 100%;
  height: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .highlight-students::after {
    height: 20px;
    bottom: -30px;
  }
}

.testimonial-description {
  text-align: center;
  font-size: 14px;
  line-height: 1.714;
  max-width: 647px;
  color: #12141780;
  margin: 0 auto 40px;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.testimonial-card {
  max-height: 326px;
  height: 278px;
  background-color: var(--gray);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
}

.testimonial-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--green);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 78px;
}

.testimonial-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 14px;
  object-fit: cover;
}

.testimonial-header .student-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.student-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: var(--white);
  margin: 0;
}

.student-role {
  text-align: left;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.testimonial-text {
  font-size: 14px;
  line-height: 1.71;
  color: #12141780;
  text-align: left;
  padding-left: 14px;
  padding-right: 14px;
}

.mykhailo-card,
.victoria-card {
  display: none;
}

@media only screen and (min-width: 768px) {
  .testimonial-text {
    font-size: 16px;
    line-height: 1.5;
    padding-left: 16px;
    padding-right: 16px;
  }

  .testimonial-title {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .testimonial-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .anna-card,
  .mykhailo-card {
    display: flex;
  }

  .victoria-card {
    display: none;
  }

  .testimonial-card {
    border-radius: 30px;
    padding: 32px 16px;
    min-height: 326px;
  }

  .testimonial-description {
    font-size: 18px;
    line-height: 1.667;
    margin-bottom: 64px;
  }

  .testimonial-header {
    border-radius: 15px;
  }

  .highlight-students {
    height: 20px;
  }
}

@media only screen and (min-width: 1280px) {
  .testimonial-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  .anna-card,
  .mykhailo-card,
  .victoria-card {
    display: flex;
  }

  .testimonial-section {
    padding-left: 128px;
    padding-right: 128px;
  }
}
